<div class="container mt-5">
    <div class="alert alert-danger">
        <h4 class="alert-heading">Сталася помилка!</h4>
        <p><%= message %></p>
        <hr>
        <a href="/computer" class="btn btn-outline-danger">Повернутися на головну</a>
    </div>
</div>